Repository INOI-SWM/RidingMate_Flutter, pull requests merged in 2025-08, with the labels that each got.

#90 [Feat] 프로필 창 및 설정 창 생성
  lib/features/profile/presentation/pages/profile_page.dart
  lib/features/profile/presentation/screens/profile_screen.dart
  lib/features/profile/presentation/screens/settings_screen.dart
Labels: ✨ feat

#91 [Refactor] 필터 모달 리팩토링, 자동스크롤 등 기능 추가
  lib/features/my_route/presentation/config/my_route_category_config.dart
  lib/features/my_route/presentation/config/my_route_filter_config.dart
  lib/features/my_route/presentation/my_route_screen.dart
  lib/features/my_route/presentation/widgets/filter_modal.dart
  lib/shared/design_system/widgets/category/category_filter.dart
  lib/shared/design_system/widgets/category/category_info.dart
  lib/shared/design_system/widgets/modal/bottom_sheet_modal.dart
  lib/shared/filter/filter_modal.dart
  lib/shared/filter/models/filter_config.dart
  lib/shared/filter/models/filter_data.dart
  lib/shared/filter/models/filter_item.dart
  lib/shared/filter/models/filter_type.dart
  lib/shared/filter/utils/filter_display_utils.dart
  lib/shared/filter/widgets/filter_action_buttons.dart
  lib/shared/filter/widgets/filter_list.dart
  lib/shared/filter/widgets/filter_modal_content.dart
  lib/shared/filter/widgets/filter_tab_bar.dart
  lib/shared/filter/widgets/filter_widgets.dart
  lib/shared/sort/widgets/sort_modal.dart
Labels: ✨ feat, 🔨 refactor

#93 [Refactor] 정렬 모달 리팩토링
  lib/features/my_route/domain/enums/route_sort_type.dart
  lib/features/my_route/presentation/my_route_screen.dart
  lib/features/recommended_course/domain/enums/course_sort_type.dart
  lib/features/recommended_course/presentation/screens/recommended_course_screen.dart
  lib/features/workout_history/domain/enums/workout_sort_type.dart
  lib/features/workout_history/presentation/screens/workout_list_screen.dart
  lib/features/workout_history/presentation/widgets/workout_sort_modal.dart
  lib/shared/sort/sort_modal.dart
Labels: 🔨 refactor

#94 [fix] route_planning_Screen 깨진 레이아웃 수정
  lib/features/route_planning/presentation/screens/route_planning_screen.dart
Labels: 🐛 fix

#95 [Feat] 나의 경로 서버 API 연동
  lib/features/my_route/application/services/my_route_service.dart
  lib/features/my_route/application/usecases/get_my_route_list_usecase.dart
  lib/features/my_route/data/datasources/my_route_remote_datasource.dart
  lib/features/my_route/data/mappers/my_route_mapper.dart
  lib/features/my_route/data/models/my_route_filter_model.dart
  lib/features/my_route/data/models/my_route_list_data_model.dart
  lib/features/my_route/data/models/my_route_model.dart
  lib/features/my_route/data/models/pagination_model.dart
  lib/features/my_route/data/repositories/my_route_repository_impl.dart
  lib/features/my_route/data/repositories/route_repository_impl.dart
  lib/features/my_route/di/my_route_providers.dart
  lib/features/my_route/domain/entities/my_route.dart
  lib/features/my_route/domain/entities/my_route_filter.dart
  lib/features/my_route/domain/entities/my_route_list.dart
  lib/features/my_route/domain/enums/my_route_sort_type.dart
  lib/features/my_route/domain/repositories/my_route_repository.dart
  lib/features/my_route/presentation/screens/my_route_screen.dart
  lib/navigation/navigation_scaffold.dart
Labels: ✨ feat

#98 [Feat] 구글 로그인 서버 api와 연결
  lib/features/auth/application/use_cases/auth_sign_in_facade.dart
  lib/features/auth/application/use_cases/login_with_google_idtoken_use_case.dart
  lib/features/auth/application/use_cases/sign_in_with_google_use_case.dart
  lib/features/auth/data/datasources/google_auth_datasource.dart
  lib/features/auth/data/datasources/ridingmate_auth_remote_datasource.dart
  lib/features/auth/data/models/ridingmate_login_response_model.dart
  lib/features/auth/data/repositories/google_auth_repository_impl.dart
  lib/features/auth/data/repositories/ridingmate_auth_repository_impl.dart
  lib/features/auth/di/auth_providers.dart
  lib/features/auth/domain/entities/auth_login_result.dart
  lib/features/auth/domain/entities/auth_tokens.dart
  lib/features/auth/domain/repositories/google_auth_repository.dart
  lib/features/auth/domain/repositories/ridingmate_auth_repository.dart
Labels: ✨ feat

#101 [Feat] JWT 토큰 사용로직 개발
  ios/Podfile.lock
  lib/core/di/core_providers.dart
  lib/core/navigation/app_navigator.dart
  lib/features/auth/application/use_cases/auth_sign_in_facade.dart
  lib/features/auth/application/use_cases/auth_sign_out_facade.dart
  lib/features/auth/application/use_cases/auth_withdrawal_facade.dart
  lib/features/auth/data/models/ridingmate_login_response_model.dart
  lib/features/auth/data/repositories/token_repository_impl.dart
  lib/features/auth/di/auth_providers.dart
  lib/features/auth/domain/repositories/token_repository.dart
  lib/features/my_route/data/datasources/my_route_remote_datasource.dart
  lib/features/my_route/di/my_route_providers.dart
  lib/features/place_search/di/place_search_providers.dart
  lib/features/route_planning/data/models/route_save_response_model.dart
  lib/features/route_planning/di/route_providers.dart
  lib/features/workout_history/di/workout_statistics_providers.dart
  lib/main.dart
  lib/shared/api/data/http/authorized_http_client.dart
  pubspec.lock
  pubspec.yaml
Labels: ✨ feat

#103 [Feat] 유저 feedback 창 생성, 탈퇴버튼 이동
  lib/features/app_setting/application/services/account_management_controller.dart
  lib/features/app_setting/presentation/screens/account_management_screen.dart
  lib/features/app_setting/presentation/screens/settings_screen.dart
  lib/features/app_setting/presentation/widgets/settings_list.dart
  lib/features/profile/presentation/pages/profile_page.dart
  lib/features/profile/presentation/screens/profile_screen.dart
  lib/features/profile/presentation/screens/settings_screen.dart
  lib/shared/design_system/widgets/modal/modal_popup.dart
  lib/shared/design_system/widgets/modal/modal_show.dart
Labels: ✨ feat
