Repository INOI-SWM/RidingMate_Flutter, pull requests merged in 2025-07, with the labels that each got.

#64 [Feat] apple health kit 에서 데이터 가져오기
  ios/Podfile.lock
  ios/Runner/Info.plist
  ios/Runner/Runner.entitlements
  ios/Runner/RunnerDebug.entitlements
  lib/features/history/presentation/screens/history_screen.dart
  lib/features/workout_history/application/use_cases/sync_apple_health_kit_data_use_case.dart
  lib/features/workout_history/data/datasources/apple_health_kit_datasource.dart
  lib/features/workout_history/data/mappers/apple_health_kit_mapper.dart
  lib/features/workout_history/data/repositories/apple_health_kit_sync_repository_impl.dart
  lib/features/workout_history/domain/entities/distance_data.dart
  lib/features/workout_history/domain/entities/heart_rate_data.dart
  lib/features/workout_history/domain/entities/location_data.dart
  lib/features/workout_history/domain/entities/workout_record.dart
  lib/features/workout_history/domain/exceptions/apple_health_kit_exceptions.dart
  lib/features/workout_history/domain/repositories/health_kit_sync_repository.dart
  lib/features/workout_history/presentation/screens/workout_history_screen.dart
  lib/navigation/navigation_scaffold.dart
  pubspec.lock
  pubspec.yaml
Labels: ✨ feat

#67 [Feat] 경로 생성 api 연결, api 요청부 리팩토링, 각종 객체명 변경
  lib/features/route_planning/application/use_cases/create_route_use_case.dart
  lib/features/route_planning/application/use_cases/fit_map_to_routes_use_case.dart
  lib/features/route_planning/application/use_cases/route_stats_use_case.dart
  lib/features/route_planning/application/use_cases/save_route_use_case.dart
  lib/features/route_planning/data/datasources/remote/route_remote_datasource.dart
  lib/features/route_planning/data/datasources/remote/route_save_remote_datasource.dart
  lib/features/route_planning/data/datasources/remote/route_segment_remote_datasource.dart
  lib/features/route_planning/data/mappers/route_mapper.dart
  lib/features/route_planning/data/models/route_api_response_model.dart
  lib/features/route_planning/data/models/route_save_request_model.dart
  lib/features/route_planning/data/models/route_save_response_model.dart
  lib/features/route_planning/data/models/route_segment_api_request_model.dart
  lib/features/route_planning/data/models/route_segment_api_response_model.dart
  lib/features/route_planning/data/repositories/route_repository_impl.dart
  lib/features/route_planning/data/repositories/route_segment_repository_impl.dart
  lib/features/route_planning/di/route_providers.dart
  lib/features/route_planning/domain/entities/route_segment.dart
  lib/features/route_planning/domain/repositories/route_repository.dart
  lib/features/route_planning/domain/repositories/route_segment_repository.dart
  lib/features/route_planning/domain/services/bbox_service.dart
  lib/features/route_planning/domain/services/polyline_convert_service.dart
  lib/features/route_planning/presentation/screens/route_planning_screen.dart
  lib/shared/api/data/datasources/base_remote_datasource.dart
  lib/shared/api/data/models/api_response_model.dart
Labels: ✨ feat, 🔨 refactor

#70 [Feat] custom tab bar 생성
  lib/features/workout_history/presentation/pages/workout_history_page.dart
  lib/features/workout_history/presentation/screens/workout_history_screen.dart
  lib/navigation/bottom_navigation.dart
  lib/navigation/navigation_scaffold.dart
  lib/navigation/page_with_app_bar.dart
  lib/shared/design_system/widgets/tab_bar/custom_tab_bar.dart
Labels: ✨ feat

#72 [Feat]workout history card
  lib/features/route_planning/presentation/widgets/route_bar_layout.dart
  lib/features/workout_history/data/mappers/apple_health_kit_mapper.dart
  lib/features/workout_history/domain/entities/workout_record.dart
  lib/features/workout_history/presentation/pages/workout_history_page.dart
  lib/features/workout_history/presentation/screens/workout_history_screen.dart
  lib/features/workout_history/presentation/screens/workout_statics_screen.dart
  lib/navigation/navigation_scaffold.dart
  lib/shared/design_system/widgets/card/card_list.dart
Labels: ✨ feat

#76 [Refactor] 공통 API 응답 구조 적용 및 장소검색에 적용
  lib/features/place_search/data/datasources/remote_place_search_datasource.dart
  lib/features/place_search/data/models/place_search_response_model.dart
  lib/shared/api/data/models/api_response_model.dart
Labels: 🔨 refactor

#79 [Feat] 운동기록 제목 수정 기능구현
  lib/features/workout_history/application/use_cases/update_workout_title_use_case.dart
  lib/features/workout_history/data/datasources/remote_workout_history_datasource.dart
  lib/features/workout_history/data/models/workout_title_update_request_model.dart
  lib/features/workout_history/data/repositories/workout_history_repository_impl.dart
  lib/features/workout_history/di/workout_statistics_providers.dart
  lib/features/workout_history/domain/exceptions/workout_history_domain_exceptions.dart
  lib/features/workout_history/domain/repositories/workout_history_repository.dart
  lib/features/workout_history/presentation/screens/workout_detail_screen.dart
  lib/shared/api/data/datasources/base_remote_datasource.dart
  lib/shared/design_system/widgets/text_field/inline_edit_text_field.dart
Labels: ✨ feat

#81 [Refactor] 공통 예외처리 생성 및, result pattern 분리, snack bar utility생성, 네이밍 통일
  lib/core/di/core_providers.dart
  lib/core/exceptions/base_domain_exception.dart
  lib/core/result/app_result.dart
  lib/features/auth/presentation/screens/login_screen.dart
  lib/features/place_search/application/use_cases/search_places_use_case.dart
  lib/features/place_search/data/datasources/remote_place_search_datasource.dart
  lib/features/place_search/data/repositories/place_search_repository_impl.dart
  lib/features/place_search/di/place_search_providers.dart
  lib/features/place_search/domain/exceptions/place_search_domain_exceptions.dart
  lib/features/place_search/presentation/screens/place_search_screen.dart
  lib/features/profile/presentation/screens/profile_screen.dart
  lib/features/route_planning/application/use_cases/create_route_use_case.dart
  lib/features/route_planning/data/datasources/remote/route_remote_datasource.dart
  lib/features/route_planning/data/datasources/remote/route_segment_remote_datasource.dart
  lib/features/route_planning/data/mappers/route_mapper.dart
  lib/features/route_planning/data/repositories/route_repository_impl.dart
  lib/features/route_planning/data/repositories/route_segment_repository_impl.dart
  lib/features/route_planning/di/route_providers.dart
  lib/features/route_planning/domain/exceptions/route_domain_exceptions.dart
  lib/features/route_planning/presentation/screens/route_planning_screen.dart
  lib/features/workout_history/application/use_cases/update_workout_title_use_case.dart
  lib/features/workout_history/data/datasources/apple_health_kit_datasource.dart
  lib/features/workout_history/data/datasources/remote_workout_history_datasource.dart
  lib/features/workout_history/data/datasources/workout_statistics_datasource.dart
  lib/features/workout_history/data/mappers/apple_health_kit_mapper.dart
  lib/features/workout_history/data/repositories/workout_history_repository_impl.dart
  lib/features/workout_history/data/repositories/workout_statistics_repository_impl.dart
  lib/features/workout_history/di/workout_statistics_providers.dart
  lib/features/workout_history/domain/exceptions/apple_health_kit_exceptions.dart
  lib/features/workout_history/domain/exceptions/workout_history_domain_exceptions.dart
  lib/features/workout_history/presentation/screens/workout_detail_screen.dart
  lib/shared/api/data/datasources/base_remote_datasource.dart
  lib/shared/mixins/error_display_mixin.dart
  lib/shared/utils/error_message_mapper.dart
Labels: 🔨 refactor

#84 [Feat] detail route 화면 생성
  lib/features/my_route/presentation/my_route_screen.dart
  lib/features/place_search/presentation/screens/place_search_screen.dart
  lib/features/route_planning/presentation/screens/route_planning_screen.dart
  lib/features/workout_history/presentation/pages/workout_history_page.dart
  lib/features/workout_history/presentation/screens/workout_detail_route_screen.dart
  lib/features/workout_history/presentation/screens/workout_detail_screen.dart
  lib/features/workout_history/presentation/screens/workout_list_screen.dart
  lib/features/workout_history/presentation/screens/workout_statics_screen.dart
  lib/shared/chart/chart_axis_utils.dart
  lib/shared/chart/chart_builders.dart
  lib/shared/chart/chart_style_config.dart
  lib/shared/chart/workout_data_extractor.dart
  lib/shared/design_system/widgets/info/info_item.dart
  lib/shared/map/common_map_widgets.dart
  lib/shared/map/map_constants.dart
  lib/shared/map/map_service.dart
Labels: ✨ feat

#85 [Feat] workout grid view 생성
  lib/features/workout_history/presentation/screens/workout_list_screen.dart
Labels: ✨ feat

#87 [Feat] workout image 업로드 기능 생성
  android/app/src/main/AndroidManifest.xml
  ios/Podfile.lock
  ios/Runner/Info.plist
  lib/features/workout_history/presentation/screens/workout_detail_screen.dart
  lib/features/workout_history/presentation/screens/workout_list_screen.dart
  lib/features/workout_history/presentation/widgets/workout_detail_map_widget.dart
  lib/features/workout_history/presentation/widgets/workout_photo_gallery_widget.dart
  lib/features/workout_history/presentation/widgets/workout_title_edit_widget.dart
  pubspec.lock
  pubspec.yaml
Labels: ✨ feat
